In [1]:
import pandas as pd
import numpy as np

In [2]:
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
import glob as glb
from glob import glob

In [4]:
coteq1 = sorted(glob('coteq_electricity_20*.csv'))                
coteq = pd.concat(pd.read_csv(coteq_electricity).assign(year = coteq_electricity[-8:-4],company_name = 'Coteq_electricity')
          for coteq_electricity in coteq1)

In [5]:
rendo2 = sorted(glob('rendo_electricity_20*.csv'))                    
rendo = pd.concat(pd.read_csv(rendo_electricity).assign(year = rendo_electricity[-8:-4],company_name = 'Rendo_electricity')
        for rendo_electricity in rendo2)

In [6]:
rendo['type_of_connection'].fillna(method = 'ffill', inplace= True)
rendo['num_connections'].fillna(method = 'ffill', inplace= True)
rendo['type_conn_perc'].fillna(method = 'ffill', inplace= True)
rendo['type_conn'].fillna(method = 'ffill', inplace = True)
rendo['delivery_perc'].ffillna(method = 'ffill', inplace = True)
rendo['perc_active_conn'].ffillna(method = 'ffill', inplace = True)

In [7]:
rendo['delivery_perc'].fillna(rendo.groupby('city')['delivery_perc'].transform('mean'), inplace = True)
rendo['perc_of_active_connections'].fillna(rendo.groupby('city')['perc_of_active_connections'].transform('mean'), inplace = True)

In [9]:
liander3 = sorted(glob('liander_electricity_010120*.csv'))                 #Done
liander= pd.concat(pd.read_csv(liander_electricity).assign(year =liander_electricity[-8:-4],company_name ='Liander_electricity')
          for liander_electricity in liander3)

In [10]:
liander['purchase_area'].fillna(method = 'ffill', inplace = True)  
# Net manager  Liander NB is opreted the purchase ares  'LIANDER'
#'Liander N.V. (NW)'   is  opreat area 'Liander NW'

In [11]:
enexis4 = sorted(glob('enexis_electricity_010120*.csv'))
enexis = pd.concat(pd.read_csv(enexis_electricity).assign(year = enexis_electricity[-8:-4],company_name = 'Enexis_electricity')
          for enexis_electricity in enexis4)

In [12]:
enexis['delivery_perc'].fillna(method = 'ffill', inplace = True)
enexis['type_conn_perc'].fillna(method = 'bfill', inplace = True)
enexis['type_of_connection'].fillna(method = 'bfill', inplace = True)  #2010 full column nan

In [16]:
stedin5 = sorted(glob('stedin_electricity_20*.csv'))                        #Done
stedin = pd.concat(pd.read_csv(stedin_electricity).assign(year = stedin_electricity[-8:-4],company_name = 'Stedin_electricity')
          for stedin_electricity in stedin5)

In [17]:
endinet6 = sorted(glob('endinet_electricity_010120*.csv'))
endinet =pd.concat(pd.read_csv(endinet_electricity).assign(year =endinet_electricity[-8:-4],company_name='Endinet_electricity')
          for endinet_electricity in endinet6)

In [18]:
endinet['type_conn_perc'].fillna(endinet.groupby('type_of_connection')['type_conn_perc'].transform('mean'), inplace = True)
endinet['type_conn_perc'].fillna(method = 'ffill', inplace = True)

In [20]:
enduris7 = sorted(glob('enduriselectricity_010120*.csv'))                            #DONE
enduris =pd.concat(pd.read_csv(enduriselectricity,  thousands='.', decimal=',').assign(year =enduriselectricity[-8:-4],company_name ='Enduris_electricity')
          for enduriselectricity in enduris7)
 # Convert(handle) European decimal separators in 'type_conn_perc' columns

In [21]:
enduris['net_manager'].fillna(method = 'ffill' , inplace = True)   # Only one net manager and other empty so use ffill

In [22]:
westland8 = sorted(glob('westland-infra_electricity_20*.csv'))           #Done
westland = pd.concat(pd.read_csv(westland_infra).assign(year = westland_infra[-8:-4],company_name = 'Westland_infra')
                    for westland_infra in westland8)

In [23]:
Dataset = pd.concat([liander,stedin,westland,coteq,enduris,enexis,endinet,rendo]) #,

In [24]:
Dataset

,net_manager,purchase_area,street,zipcode_from,zipcode_to,city,num_connections,delivery_perc,perc_of_active_connections,type_conn_perc,type_of_connection,annual_consume,annual_consume_lowtarif_perc,smartmeter_perc,year,company_name,STANDAARDDEVIATIE,%Defintieve aansl (NRM),ï»¿NETBEHEERDER
0,Liander N.V. (NW),Liander NW,Rijksweg A44,1000AA,1011AA,NIEUW VENNEP,15.0,100.000000,66.67000,47.0,3x25,12958.0,46.67,0.0,2009,Liander_electricity,NaN,NaN,NaN
1,Liander N.V. (NW),Liander NW,De Ruyterkade,1011AB,1011AB,AMSTERDAM,23.0,100.000000,78.26000,43.0,3x25,14761.0,39.13,0.0,2009,Liander_electricity,NaN,NaN,NaN
2,Liander N.V. (NW),Liander NW,De Ruyterkade,1011AC,1011AC,AMSTERDAM,31.0,100.000000,77.42000,58.0,3x25,12139.0,16.13,0.0,2009,Liander_electricity,NaN,NaN,NaN
3,Liander N.V. (NW),Liander NW,Oosterdokskade,1011AD,1011AD,AMSTERDAM,21.0,100.000000,66.67000,52.0,3x25,5082.0,47.62,0.0,2009,Liander_electricity,NaN,NaN,NaN
4,Liander N.V. (NW),Liander NW,Oosterdokskade AB,1011AE,1011AE,AMSTERDAM,15.0,100.000000,60.00000,93.0,3x25,3712.0,33.33,0.0,2009,Liander_electricity,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1482,8716912000008,871691280000000008,Burg G W Stroinkweg,8343XK,8343XK,ZUIDVEEN,17.0,95.704712,99.89875,65.0,3x25,5814.0,NaN,NaN,2019,Rendo_electricity,NaN,NaN,NaN
1483,8716912000008,871691280000000008,Burg G W Stroinkweg,8343XL,8343XL,ZUIDVEEN,20.0,95.704712,99.89875,40.0,1x25,11815.0,NaN,NaN,2019,Rendo_electricity,NaN,NaN,NaN
1484,8716912000008,871691280000000008,Burg G W Stroinkweg,8343XM,8343XM,ZUIDVEEN,19.0,95.704712,99.89875,63.0,3x25,4139.0,NaN,NaN,2019,Rendo_electricity,NaN,NaN,NaN
1485,8716912000008,871691280000000008,Leemkoele,8343XN,8343XN,ZUIDVEEN,18.0,95.704712,99.89875,56.0,1x40,2469.0,NaN,NaN,2019,Rendo_electricity,NaN,NaN,NaN
1486,8716912000008,871691280000000008,De Klim,8343XP,8343XR,ZUIDVEEN,33.0,95.704712,99.89875,36.0,1x40,4599.0,NaN,NaN,2019,Rendo_electricity,NaN,NaN,NaN

In [26]:
Dataset.drop(columns = ['STANDAARDDEVIATIE','ï»¿NETBEHEERDER','%Defintieve aansl (NRM)','smartmeter_perc','annual_consume_lowtarif_perc'], inplace=True)

In [27]:
Dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3952419 entries, 0 to 1486
Data columns (total 14 columns):
 #   Column                      Dtype
---  ------                      -----
 0   net_manager                 object
 1   purchase_area               object
 2   street                      object
 3   zipcode_from                object
 4   zipcode_to                  object
 5   city                        object
 6   num_connections             float64
 7   delivery_perc               float64
 8   perc_of_active_connections  float64
 9   type_conn_perc              float64
 10  type_of_connection          object
 11  annual_consume              float64
 12  year                        object
 13  company_name                object
dtypes: float64(5), object(9)
memory usage: 452.3+ MB

In [28]:
Dataset.isnull().sum()

net_manager                   0
purchase_area                 0
street                        0
zipcode_from                  0
zipcode_to                    0
city                          0
num_connections               0
delivery_perc                 0
perc_of_active_connections    0
type_conn_perc                0
type_of_connection            0
annual_consume                0
year                          0
company_name                  0
dtype: int64

In [31]:
Dataset

,net_manager,purchase_area,street,zipcode_from,zipcode_to,city,num_connections,delivery_perc,perc_of_active_connections,type_conn_perc,type_of_connection,annual_consume,year,company_name
0,Liander N.V. (NW),Liander NW,Rijksweg A44,1000AA,1011AA,NIEUW VENNEP,15.0,100.000000,66.67000,47.0,3x25,12958.0,2009,Liander_electricity
1,Liander N.V. (NW),Liander NW,De Ruyterkade,1011AB,1011AB,AMSTERDAM,23.0,100.000000,78.26000,43.0,3x25,14761.0,2009,Liander_electricity
2,Liander N.V. (NW),Liander NW,De Ruyterkade,1011AC,1011AC,AMSTERDAM,31.0,100.000000,77.42000,58.0,3x25,12139.0,2009,Liander_electricity
3,Liander N.V. (NW),Liander NW,Oosterdokskade,1011AD,1011AD,AMSTERDAM,21.0,100.000000,66.67000,52.0,3x25,5082.0,2009,Liander_electricity
4,Liander N.V. (NW),Liander NW,Oosterdokskade AB,1011AE,1011AE,AMSTERDAM,15.0,100.000000,60.00000,93.0,3x25,3712.0,2009,Liander_electricity
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1482,8716912000008,871691280000000008,Burg G W Stroinkweg,8343XK,8343XK,ZUIDVEEN,17.0,95.704712,99.89875,65.0,3x25,5814.0,2019,Rendo_electricity
1483,8716912000008,871691280000000008,Burg G W Stroinkweg,8343XL,8343XL,ZUIDVEEN,20.0,95.704712,99.89875,40.0,1x25,11815.0,2019,Rendo_electricity
1484,8716912000008,871691280000000008,Burg G W Stroinkweg,8343XM,8343XM,ZUIDVEEN,19.0,95.704712,99.89875,63.0,3x25,4139.0,2019,Rendo_electricity
1485,8716912000008,871691280000000008,Leemkoele,8343XN,8343XN,ZUIDVEEN,18.0,95.704712,99.89875,56.0,1x40,2469.0,2019,Rendo_electricity
1486,8716912000008,871691280000000008,De Klim,8343XP,8343XR,ZUIDVEEN,33.0,95.704712,99.89875,36.0,1x40,4599.0,2019,Rendo_electricity

In [32]:
Dataset.shape

(3952419, 14)

In [33]:
from sklearn.preprocessing import LabelEncoder                         # Encoding all categorical Data
le = LabelEncoder()
Dataset['company_name']= le.fit_transform(Dataset['company_name'])

In [34]:
Dataset.city = Dataset.city.astype('category').cat.codes

In [35]:
Dataset.net_manager = Dataset.net_manager.astype('category').cat.codes
Dataset.purchase_area = Dataset.purchase_area.astype('category').cat.codes
Dataset.street = Dataset.street.astype('category').cat.codes
Dataset.zipcode_from = Dataset.zipcode_from.astype('category').cat.codes
Dataset.zipcode_to = Dataset.zipcode_to.astype('category').cat.codes

In [36]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
Dataset['type_of_connection']= le.fit_transform(Dataset['type_of_connection'])

In [37]:
Dataset

,net_manager,purchase_area,street,zipcode_from,zipcode_to,city,num_connections,delivery_perc,perc_of_active_connections,type_conn_perc,type_of_connection,annual_consume,year,company_name
0,15,7,84009,0,0,1466,15.0,100.000000,66.67000,47.0,18,12958.0,2009,4
1,15,7,22185,2,1,92,23.0,100.000000,78.26000,43.0,18,14761.0,2009,4
2,15,7,22185,3,2,92,31.0,100.000000,77.42000,58.0,18,12139.0,2009,4
3,15,7,73134,4,3,92,21.0,100.000000,66.67000,52.0,18,5082.0,2009,4
4,15,7,73135,5,4,92,15.0,100.000000,60.00000,93.0,18,3712.0,2009,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1482,4,2,13959,341954,338567,2598,17.0,95.704712,99.89875,65.0,18,5814.0,2019,5
1483,4,2,13959,341955,338568,2598,20.0,95.704712,99.89875,40.0,6,11815.0,2019,5
1484,4,2,13959,341956,338569,2598,19.0,95.704712,99.89875,63.0,18,4139.0,2019,5
1485,4,2,60247,341957,338570,2598,18.0,95.704712,99.89875,56.0,8,2469.0,2019,5
1486,4,2,21000,341958,338571,2598,33.0,95.704712,99.89875,36.0,8,4599.0,2019,5

In [42]:
train = Dataset.loc[Dataset['year'] < '2020']
test = Dataset.loc[Dataset['year'] == '2020']

In [43]:
x_train = train.iloc[:,:-3].values                        #Features Matrix
y_train = train.iloc[:,-3].values
x_test = test.iloc[:,:-3].values     
y_test = test.iloc[:,-3].values

In [45]:
from sklearn.ensemble import RandomForestRegressor                        # To build Machine learning model
regressor = RandomForestRegressor(n_estimators=100, random_state = 0)
regressor.fit(x_train, y_train)

RandomForestRegressor(random_state=0)

In [56]:
y_pred = regressor.predict(x_test)

In [61]:
from sklearn.metrics import r2_score
print('R²_Score: {:.2f}%'.format(r2_score(y_test, y_pred)*100))

R²_Score: 72.01%

In [48]:
Data = pd.DataFrame({'Actual value 2020': y_test, 'Predicted value 2020': y_pred})
Data.head()

   Actual value 2020  Predicted value 2020
0            14940.0          11502.672000
1            20776.0          14316.655200
2             4026.0           3971.923818
3             4588.0           4355.717000
4            22324.0          16371.791603

In [51]:
from sklearn.model_selection import cross_val_score                         # Applying  K-Fold Cross Validation
accuracies = cross_val_score(estimator = regressor, X = x_train,y = y_train, cv = 10 )

In [52]:
print("Accuracy: {:.2f} %".format(accuracies.mean()*100))
print("Standard Deviation: {:.2f} %".format(accuracies.std()*100))

Accuracy: 72.05 %
Standard Deviation: 9.30 %