In [41]:
import pandas as pd
import numpy as np

In [42]:
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [43]:
import glob as glb
from glob import glob

In [44]:
coteq1 = sorted(glob('coteq_electricity_20*.csv'))               
coteq = pd.concat(pd.read_csv(coteq_electricity).assign(year = coteq_electricity[-8:-4],company_name = 'Coteq_electricity')
          for coteq_electricity in coteq1)

In [45]:
rendo2 = sorted(glob('rendo_electricity_20*.csv'))                   
rendo = pd.concat(pd.read_csv(rendo_electricity).assign(year = rendo_electricity[-8:-4],company_name = 'Rendo_electricity')
        for rendo_electricity in rendo2)

In [46]:
rendo['type_of_connection'].fillna(method = 'ffill', inplace= True)
rendo['num_connections'].fillna(method = 'ffill', inplace= True)
rendo['type_conn_perc'].fillna(method = 'ffill', inplace= True)

In [47]:
rendo['delivery_perc'].fillna(rendo.groupby('city')['delivery_perc'].transform('mean'), inplace = True)
rendo['perc_of_active_connections'].fillna(rendo.groupby('city')['perc_of_active_connections'].transform('mean'), inplace = True)

In [48]:
liander3 = sorted(glob('liander_electricity_010120*.csv'))               
liander= pd.concat(pd.read_csv(liander_electricity).assign(year =liander_electricity[-8:-4],company_name ='Liander_electricity')
          for liander_electricity in liander3)

In [49]:
liander['purchase_area'].fillna(method = 'ffill', inplace = True)  
# Net manager  Liander NB is opreted the purchase ares  'LIANDER'
#'Liander N.V. (NW)'   is  opreat area 'Liander NW'

In [50]:
enexis4 = sorted(glob('enexis_electricity_010120*.csv'))
enexis = pd.concat(pd.read_csv(enexis_electricity).assign(year = enexis_electricity[-8:-4],company_name = 'Enexis_electricity')
          for enexis_electricity in enexis4)

In [51]:
enexis['delivery_perc'].fillna(method = 'ffill', inplace = True)
enexis['type_of_connection'].fillna(method = 'ffill', inplace = True)  #2010 full column nan

In [52]:
stedin5 = sorted(glob('stedin_electricity_20*.csv'))                       
stedin = pd.concat(pd.read_csv(stedin_electricity).assign(year = stedin_electricity[-8:-4],company_name = 'Stedin_electricity')
          for stedin_electricity in stedin5)

In [53]:
endinet6 = sorted(glob('endinet_electricity_010120*.csv'))
endinet =pd.concat(pd.read_csv(endinet_electricity).assign(year =endinet_electricity[-8:-4],company_name='Endinet_electricity')
          for endinet_electricity in endinet6)

In [54]:
endinet['type_conn_perc'].fillna(endinet.groupby('type_of_connection')['type_conn_perc'].transform('mean'), inplace = True)
endinet['type_conn_perc'].fillna(method = 'ffill', inplace = True)

In [55]:
enduris7 = sorted(glob('enduriselectricity_010120*.csv'))                           
enduris =pd.concat(pd.read_csv(enduriselectricity,  thousands='.', decimal=',').assign(year =enduriselectricity[-8:-4],company_name ='Enduris_electricity')
          for enduriselectricity in enduris7)
# Convert(handle) European decimal separators in 'type_conn_perc' columns

In [56]:
enduris['net_manager'].fillna(method = 'ffill' , inplace = True)   # Only one net manager and other empty so use ffill

In [57]:
westland8 = sorted(glob('westland-infra_electricity_20*.csv'))           #Done
westland = pd.concat(pd.read_csv(westland_infra).assign(year = westland_infra[-8:-4],company_name = 'Westland_infra')
                    for westland_infra in westland8)

In [58]:
Dataset = pd.concat([liander,stedin,westland,coteq,enduris,enexis,endinet,rendo])

In [59]:
Dataset.head()

,net_manager,purchase_area,street,zipcode_from,zipcode_to,city,num_connections,delivery_perc,perc_of_active_connections,type_conn_perc,type_of_connection,annual_consume,annual_consume_lowtarif_perc,smartmeter_perc,year,company_name,STANDAARDDEVIATIE,%Defintieve aansl (NRM),ï»¿NETBEHEERDER
0,Liander N.V. (NW),Liander NW,Rijksweg A44,1000AA,1011AA,NIEUW VENNEP,15.0,100.0,66.67,47.0,3x25,12958.0,46.67,0.0,2009,Liander_electricity,NaN,NaN,NaN
1,Liander N.V. (NW),Liander NW,De Ruyterkade,1011AB,1011AB,AMSTERDAM,23.0,100.0,78.26,43.0,3x25,14761.0,39.13,0.0,2009,Liander_electricity,NaN,NaN,NaN
2,Liander N.V. (NW),Liander NW,De Ruyterkade,1011AC,1011AC,AMSTERDAM,31.0,100.0,77.42,58.0,3x25,12139.0,16.13,0.0,2009,Liander_electricity,NaN,NaN,NaN
3,Liander N.V. (NW),Liander NW,Oosterdokskade,1011AD,1011AD,AMSTERDAM,21.0,100.0,66.67,52.0,3x25,5082.0,47.62,0.0,2009,Liander_electricity,NaN,NaN,NaN
4,Liander N.V. (NW),Liander NW,Oosterdokskade AB,1011AE,1011AE,AMSTERDAM,15.0,100.0,60.00,93.0,3x25,3712.0,33.33,0.0,2009,Liander_electricity,NaN,NaN,NaN

In [60]:
Dataset.drop(columns = ['STANDAARDDEVIATIE','ï»¿NETBEHEERDER','%Defintieve aansl (NRM)','annual_consume_lowtarif_perc','smartmeter_perc'], inplace=True)

In [61]:
Dataset

,net_manager,purchase_area,street,zipcode_from,zipcode_to,city,num_connections,delivery_perc,perc_of_active_connections,type_conn_perc,type_of_connection,annual_consume,year,company_name
0,Liander N.V. (NW),Liander NW,Rijksweg A44,1000AA,1011AA,NIEUW VENNEP,15.0,100.000000,66.67000,47.0,3x25,12958.0,2009,Liander_electricity
1,Liander N.V. (NW),Liander NW,De Ruyterkade,1011AB,1011AB,AMSTERDAM,23.0,100.000000,78.26000,43.0,3x25,14761.0,2009,Liander_electricity
2,Liander N.V. (NW),Liander NW,De Ruyterkade,1011AC,1011AC,AMSTERDAM,31.0,100.000000,77.42000,58.0,3x25,12139.0,2009,Liander_electricity
3,Liander N.V. (NW),Liander NW,Oosterdokskade,1011AD,1011AD,AMSTERDAM,21.0,100.000000,66.67000,52.0,3x25,5082.0,2009,Liander_electricity
4,Liander N.V. (NW),Liander NW,Oosterdokskade AB,1011AE,1011AE,AMSTERDAM,15.0,100.000000,60.00000,93.0,3x25,3712.0,2009,Liander_electricity
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1482,8716912000008,871691280000000008,Burg G W Stroinkweg,8343XK,8343XK,ZUIDVEEN,17.0,95.704712,99.89875,65.0,3x25,5814.0,2019,Rendo_electricity
1483,8716912000008,871691280000000008,Burg G W Stroinkweg,8343XL,8343XL,ZUIDVEEN,20.0,95.704712,99.89875,40.0,1x25,11815.0,2019,Rendo_electricity
1484,8716912000008,871691280000000008,Burg G W Stroinkweg,8343XM,8343XM,ZUIDVEEN,19.0,95.704712,99.89875,63.0,3x25,4139.0,2019,Rendo_electricity
1485,8716912000008,871691280000000008,Leemkoele,8343XN,8343XN,ZUIDVEEN,18.0,95.704712,99.89875,56.0,1x40,2469.0,2019,Rendo_electricity
1486,8716912000008,871691280000000008,De Klim,8343XP,8343XR,ZUIDVEEN,33.0,95.704712,99.89875,36.0,1x40,4599.0,2019,Rendo_electricity

In [62]:
Dataset.shape

(4077352, 14)

In [63]:
Dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4077352 entries, 0 to 1486
Data columns (total 14 columns):
 #   Column                      Dtype
---  ------                      -----
 0   net_manager                 object
 1   purchase_area               object
 2   street                      object
 3   zipcode_from                object
 4   zipcode_to                  object
 5   city                        object
 6   num_connections             float64
 7   delivery_perc               float64
 8   perc_of_active_connections  float64
 9   type_conn_perc              float64
 10  type_of_connection          object
 11  annual_consume              float64
 12  year                        object
 13  company_name                object
dtypes: float64(5), object(9)
memory usage: 466.6+ MB

In [64]:
Dataset

,net_manager,purchase_area,street,zipcode_from,zipcode_to,city,num_connections,delivery_perc,perc_of_active_connections,type_conn_perc,type_of_connection,annual_consume,year,company_name
0,Liander N.V. (NW),Liander NW,Rijksweg A44,1000AA,1011AA,NIEUW VENNEP,15.0,100.000000,66.67000,47.0,3x25,12958.0,2009,Liander_electricity
1,Liander N.V. (NW),Liander NW,De Ruyterkade,1011AB,1011AB,AMSTERDAM,23.0,100.000000,78.26000,43.0,3x25,14761.0,2009,Liander_electricity
2,Liander N.V. (NW),Liander NW,De Ruyterkade,1011AC,1011AC,AMSTERDAM,31.0,100.000000,77.42000,58.0,3x25,12139.0,2009,Liander_electricity
3,Liander N.V. (NW),Liander NW,Oosterdokskade,1011AD,1011AD,AMSTERDAM,21.0,100.000000,66.67000,52.0,3x25,5082.0,2009,Liander_electricity
4,Liander N.V. (NW),Liander NW,Oosterdokskade AB,1011AE,1011AE,AMSTERDAM,15.0,100.000000,60.00000,93.0,3x25,3712.0,2009,Liander_electricity
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1482,8716912000008,871691280000000008,Burg G W Stroinkweg,8343XK,8343XK,ZUIDVEEN,17.0,95.704712,99.89875,65.0,3x25,5814.0,2019,Rendo_electricity
1483,8716912000008,871691280000000008,Burg G W Stroinkweg,8343XL,8343XL,ZUIDVEEN,20.0,95.704712,99.89875,40.0,1x25,11815.0,2019,Rendo_electricity
1484,8716912000008,871691280000000008,Burg G W Stroinkweg,8343XM,8343XM,ZUIDVEEN,19.0,95.704712,99.89875,63.0,3x25,4139.0,2019,Rendo_electricity
1485,8716912000008,871691280000000008,Leemkoele,8343XN,8343XN,ZUIDVEEN,18.0,95.704712,99.89875,56.0,1x40,2469.0,2019,Rendo_electricity
1486,8716912000008,871691280000000008,De Klim,8343XP,8343XR,ZUIDVEEN,33.0,95.704712,99.89875,36.0,1x40,4599.0,2019,Rendo_electricity

In [65]:
Dataset.shape

(4077352, 14)

In [66]:
from sklearn.preprocessing import LabelEncoder                        
le = LabelEncoder()
Dataset['company_name']= le.fit_transform(Dataset['company_name'])

In [67]:
Dataset.city = Dataset.city.astype('category').cat.codes

In [68]:
Dataset.net_manager = Dataset.net_manager.astype('category').cat.codes
Dataset.purchase_area = Dataset.purchase_area.astype('category').cat.codes
Dataset.street = Dataset.street.astype('category').cat.codes
Dataset.zipcode_from = Dataset.zipcode_from.astype('category').cat.codes
Dataset.zipcode_to = Dataset.zipcode_to.astype('category').cat.codes

In [69]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
Dataset['type_of_connection']= le.fit_transform(Dataset['type_of_connection'])

In [70]:
Dataset

,net_manager,purchase_area,street,zipcode_from,zipcode_to,city,num_connections,delivery_perc,perc_of_active_connections,type_conn_perc,type_of_connection,annual_consume,year,company_name
0,15,7,84080,0,0,1466,15.0,100.000000,66.67000,47.0,18,12958.0,2009,4
1,15,7,22212,2,1,92,23.0,100.000000,78.26000,43.0,18,14761.0,2009,4
2,15,7,22212,3,2,92,31.0,100.000000,77.42000,58.0,18,12139.0,2009,4
3,15,7,73200,4,3,92,21.0,100.000000,66.67000,52.0,18,5082.0,2009,4
4,15,7,73201,5,4,92,15.0,100.000000,60.00000,93.0,18,3712.0,2009,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1482,4,2,13976,342564,338897,2598,17.0,95.704712,99.89875,65.0,18,5814.0,2019,5
1483,4,2,13976,342565,338898,2598,20.0,95.704712,99.89875,40.0,6,11815.0,2019,5
1484,4,2,13976,342566,338899,2598,19.0,95.704712,99.89875,63.0,18,4139.0,2019,5
1485,4,2,60308,342567,338900,2598,18.0,95.704712,99.89875,56.0,8,2469.0,2019,5
1486,4,2,21026,342568,338901,2598,33.0,95.704712,99.89875,36.0,8,4599.0,2019,5

In [73]:
Dataset.to_csv('DataSet.csv', index = False)

In [74]:
ad = pd.read_csv('DataSet.csv')

In [75]:
ad

,net_manager,purchase_area,street,zipcode_from,zipcode_to,city,num_connections,delivery_perc,perc_of_active_connections,type_conn_perc,type_of_connection,annual_consume,year,company_name
0,15,7,84080,0,0,1466,15.0,100.000000,66.67000,47.0,18,12958.0,2009,4
1,15,7,22212,2,1,92,23.0,100.000000,78.26000,43.0,18,14761.0,2009,4
2,15,7,22212,3,2,92,31.0,100.000000,77.42000,58.0,18,12139.0,2009,4
3,15,7,73200,4,3,92,21.0,100.000000,66.67000,52.0,18,5082.0,2009,4
4,15,7,73201,5,4,92,15.0,100.000000,60.00000,93.0,18,3712.0,2009,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4077347,4,2,13976,342564,338897,2598,17.0,95.704712,99.89875,65.0,18,5814.0,2019,5
4077348,4,2,13976,342565,338898,2598,20.0,95.704712,99.89875,40.0,6,11815.0,2019,5
4077349,4,2,13976,342566,338899,2598,19.0,95.704712,99.89875,63.0,18,4139.0,2019,5
4077350,4,2,60308,342567,338900,2598,18.0,95.704712,99.89875,56.0,8,2469.0,2019,5
4077351,4,2,21026,342568,338901,2598,33.0,95.704712,99.89875,36.0,8,4599.0,2019,5